node_modules
dist
coverage
.git
docs
.editorconfig
.prettierrc
.eslintrc.cjs
test-results
*.log
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
docker-compose*.yml
tests/
scripts/
