NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/astroviet"
LOG_LEVEL=debug

# Seed Variables
SEED_ADMIN_EMAIL="admin@astroviet.local"
SEED_ADMIN_PASSWORD="adminpassword123"
